<template>
  <div>
    <AdminAuthGuard />
    <form @submit.prevent="addMenuItem">
      <input v-model="itemName" placeholder="Item Name" required />
      <input type="file" id="menu-image-file-input" @change="handleImageChange" />
      <img v-if="itemImagePreview" :src="itemImagePreview" alt="Preview" />
      <button type="button" @click="clearImage">Clear Image</button>
      <textarea v-model="itemDescription" placeholder="Description"></textarea>
      <input v-model="itemCategory" placeholder="Category" required />
      <input v-model="itemPrice" type="number" placeholder="Price" required />
      <button type="submit" :disabled="loading">Add Menu Item</button>
      <div v-if="message" :class="messageType">{{ message }}</div>
    </form>
  </div>
</template>
